<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MyAnimeLibrary</a>
        <ul>
            <li><a href="/anime/new">Add Anime</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
</header>