<div class="type-wrapper">
    <legend>Type: </legend>
    <input type="radio" name="type" value="Movie"><label>Movie</label>
    <input type="radio" name="type" value="TV Series"><label>TV Series</label>
</div>
<div class="genre-wrapper">
    <legend>Genre: </legend>
    <input type="checkbox" name="genre" value="Action"><label>Action</label>
    <input type="checkbox" name="genre" value="Adventure"><label>Adventure</label>
    <input type="checkbox" name="genre" value="Comedy"><label>Comedy</label>
    <input type="checkbox" name="genre" value="Drama"><label>Drama</label>
    <input type="checkbox" name="genre" value="Fantasy"><label>Fantasy</label>
    <input type="checkbox" name="genre" value="Gourmet "><label>Gourmet</label>
    <input type="checkbox" name="genre" value="Horror"><label>Horror</label>
    <input type="checkbox" name="genre" value="Mystery"><label>Mystery</label>
    <input type="checkbox" name="genre" value="Romance"><label>Romance</label>
    <input type="checkbox" name="genre" value="Sci-fi"><label>Sci-fi</label>
    <input type="checkbox" name="genre" value="Slice of Life"><label>Slice of Life</label>
    <input type="checkbox" name="genre" value="Sport"><label>Sport</label>
    <input type="checkbox" name="genre" value="Supernatural"><label>Supernatural</label>
    <input type="checkbox" name="genre" value="Suspense"><label>Suspense</label>
</div>
<div class="theme-wrapper">
    <legend>Theme: </legend>
    <input type="checkbox" name="theme" value="Adult Cast"><label>Adult Cast</label>
    <input type="checkbox" name="theme" value="CGDCT"><label>CGDCT</label>
    <input type="checkbox" name="theme" value="Childcare"><label>Childcare</label>
    <input type="checkbox" name="theme" value="Detective"><label>Detective</label>
    <input type="checkbox" name="theme" value="Gore"><label>Gore</label>
    <input type="checkbox" name="theme" value="High Stakes Game"><label>High Stakes Game</label>
    <input type="checkbox" name="theme" value="Historical"><label>Historical</label>
    <input type="checkbox" name="theme" value="Isekai"><label>Isekai</label>
    <input type="checkbox" name="theme" value="Iyashikei"><label>Iyashikei</label>
    <input type="checkbox" name="theme" value="Love Polygon"><label>Love Polygon</label>
    <input type="checkbox" name="theme" value="Martial Arts"><label>Martial Arts</label>
    <input type="checkbox" name="theme" value="Mecha"><label>Mecha</label>
    <input type="checkbox" name="theme" value="Military"><label>Military</label>
    <input type="checkbox" name="theme" value="Music"><label>Music</label>
    <input type="checkbox" name="theme" value="Mythology"><label>Mythology</label>
    <input type="checkbox" name="theme" value="Organized Crime"><label>Organized Crime</label>
    <input type="checkbox" name="theme" value="Otaku Culture"><label>Otaku Culture</label>
    <input type="checkbox" name="theme" value="Psychological "><label>Psychological </label>
    <input type="checkbox" name="theme" value="Reincarnation"><label>Reincarnation</label>
    <input type="checkbox" name="theme" value="Romantic Subtext"><label>Romantic Subtext</label>
    <input type="checkbox" name="theme" value="Samurai"><label>Samurai</label>
    <input type="checkbox" name="theme" value="School"><label>School</label>
    <input type="checkbox" name="theme" value="Space"><label>Space</label>
    <input type="checkbox" name="theme" value="Strategy Game"><label>Strategy Game</label>
    <input type="checkbox" name="theme" value="Super Power"><label>Super Power</label>
    <input type="checkbox" name="theme" value="Survival"><label>Survival</label>
    <input type="checkbox" name="theme" value="Team Sports"><label>Team Sports</label>
    <input type="checkbox" name="theme" value="Time Travel"><label>Time Travel</label>
    <input type="checkbox" name="theme" value="Vampire"><label>Vampire</label>
    <input type="checkbox" name="theme" value="Video Game"><label>Video Game</label>
    <input type="checkbox" name="theme" value="Visual Arts"><label>Visual Arts</label>
    <input type="checkbox" name="theme" value="Workplace"><label>Workplace</label>
</div>