<div class="type-wrapper">
    <legend>Types </legend>
    <input type="radio" id="movieRadio" name="type" value="Movie">
        <label for="movieRadio">Movie</label>
    <input type="radio" id="seriesRadio" name="type" value="TV Series">
        <label for="seriesRadio">TV Series</label>
</div>

<div class="genre-wrapper">
    <legend>Genres </legend>
    <input type="checkbox" id="Action" class="genreButton" name="genre" value="Action">
        <label for="Action">Action</label>
    <input type="checkbox" id="Adventure" class="genreButton" name="genre" value="Adventure">
        <label for="Adventure">Adventure</label>
    <input type="checkbox" id="Comedy" class="genreButton" name="genre" value="Comedy">
        <label for="Comedy">Comedy</label>
    <input type="checkbox" id="Drama" class="genreButton" name="genre" value="Drama">
        <label for="Drama">Drama</label>
    <input type="checkbox" id="Fantasy" class="genreButton" name="genre" value="Fantasy">
        <label for="Fantasy">Fantasy</label>
    <input type="checkbox" id="Gourmet" class="genreButton" name="genre" value="Gourmet ">
        <label for="Gourmet">Gourmet</label>
    <input type="checkbox" id="Horror" class="genreButton" name="genre" value="Horror">
        <label for="Horror">Horror</label>
    <input type="checkbox" id="Mystery" class="genreButton" name="genre" value="Mystery">
        <label for="Mystery">Mystery</label>
    <input type="checkbox" id="Romance" class="genreButton" name="genre" value="Romance">
        <label for="Romance">Romance</label>
    <input type="checkbox" id="Sci-fi" class="genreButton" name="genre" value="Sci-fi">
        <label for="Sci-fi">Sci-fi</label>
    <input type="checkbox" id="Slice of Life" class="genreButton" name="genre" value="Slice of Life">
        <label for="Slice of Life">Slice of Life</label>
    <input type="checkbox" id="Sport" class="genreButton" name="genre" value="Sport">
        <label for="Sport">Sport</label>
    <input type="checkbox" id="Supernatural" class="genreButton" name="genre" value="Supernatural">
        <label for="Supernatural">Supernatural</label>
    <input type="checkbox" id="Suspense" class="genreButton" name="genre" value="Suspense">
        <label for="Suspense">Suspense</label>
</div>

<div class="theme-wrapper">
    <legend>Themes </legend>
    <input type="checkbox" id="Adult Cast" name="theme" value="Adult Cast">
        <label for="Adult Cast" >Adult Cast</label>
    <input type="checkbox" id="CGDCT" name="theme" value="CGDCT">
        <label for="CGDCT" >CGDCT</label>
    <input type="checkbox" id="Childcare" name="theme" value="Childcare">
        <label for="Childcare" >Childcare</label>
    <input type="checkbox" id="Detective" name="theme" value="Detective">
        <label for="Detective" >Detective</label>
    <input type="checkbox" id="Gore" name="theme" value="Gore">
        <label for="Gore" >Gore</label>
    <input type="checkbox" id="High Stakes Game" name="theme" value="High Stakes Game">
        <label for="High Stakes Game" >High Stakes Game</label>
    <input type="checkbox" id="Historical" name="theme" value="Historical">
        <label for="Historical" >Historical</label>
    <input type="checkbox" id="" name="theme" value="Isekai">
        <label for="Isekai" >Isekai</label>
    <input type="checkbox" id="Iyashikei" name="theme" value="Iyashikei">
        <label for="Iyashikei" >Iyashikei</label>
    <input type="checkbox" id="Love Polygon" name="theme" value="Love Polygon">
        <label for="Love Polygon" >Love Polygon</label>
    <input type="checkbox" id="Martial Arts" name="theme" value="Martial Arts">
        <label for="Martial Arts" >Martial Arts</label>
    <input type="checkbox" id="Mecha" name="theme" value="Mecha">
        <label for="Mecha" >Mecha</label>
    <input type="checkbox" id="Military" name="theme" value="Military">
        <label for="Military" >Military</label>
    <input type="checkbox" id="Music" name="theme" value="Music">
        <label for="Music" >Music</label>
    <input type="checkbox" id="Mythology" name="theme" value="Mythology">
        <label for="Mythology" >Mythology</label>
    <input type="checkbox" id="Organized Crime" name="theme" value="Organized Crime">
        <label for="Organized Crime" >Organized Crime</label>
    <input type="checkbox" id="" name="theme" value="Otaku Culture">
        <label for="Otaku Culture" >Otaku Culture</label>
    <input type="checkbox" id="Psychological" name="theme" value="Psychological ">
        <label for="Psychological" >Psychological </label>
    <input type="checkbox" id="Reincarnation" name="theme" value="Reincarnation">
        <label for="Reincarnation" >Reincarnation</label>
    <input type="checkbox" id="Romantic Subtext" name="theme" value="Romantic Subtext">
        <label for="Romantic Subtext" >Romantic Subtext</label>
    <input type="checkbox" id="Samurai" name="theme" value="Samurai">
        <label for="Samurai" >Samurai</label>
    <input type="checkbox" id="School" name="theme" value="School">
        <label for="School" >School</label>
    <input type="checkbox" id="Space" name="theme" value="Space">
        <label for="Space" >Space</label>
    <input type="checkbox" id="Strategy Game" name="theme" value="Strategy Game">
        <label for="Strategy Game" >Strategy Game</label>
    <input type="checkbox" id="Super Power" name="theme" value="Super Power">
        <label for="Super Power" >Super Power</label>
    <input type="checkbox" id="Survival" name="theme" value="Survival">
        <label for="Survival" >Survival</label>
    <input type="checkbox" id="Team Sports" name="theme" value="Team Sports">
        <label for="Team Sports" >Team Sports</label>
    <input type="checkbox" id="Time Travel" name="theme" value="Time Travel">
        <label for="Time Travel" >Time Travel</label>
    <input type="checkbox" id="Vampire" name="theme" value="Vampire">
        <label for="Vampire" >Vampire</label>
    <input type="checkbox" id="Video Game" name="theme" value="Video Game">
        <label for="Video Game" >Video Game</label>
    <input type="checkbox" id="Visual Arts" name="theme" value="Visual Arts">
        <label for="Visual Arts" >Visual Arts</label>
    <input type="checkbox" id="Workplace" name="theme" value="Workplace">
         <label for="Workplace">Workplace</label>
</div>