<div class="type-wrapper">
    <legend>Types </legend>
    <input type="radio" id="movieRadio" name="type" value="Movie">
        <label for="movieRadio">Movie</label>
    <input type="radio" id="seriesRadio" name="type" value="TV Series">
        <label for="seriesRadio">TV Series</label>
</div>

<div class="genre-wrapper">
    <legend>Genres </legend>
    <input type="checkbox" id="Action" class="genreButton" name="genre" value="Action">
        <label for="Action">Action</label>
    <input type="checkbox" id="Adventure" class="genreButton" name="genre" value="Adventure">
        <label for="Adventure">Adventure</label>
    <input type="checkbox" id="Comedy" class="genreButton" name="genre" value="Comedy">
        <label for="Comedy">Comedy</label>
    <input type="checkbox" id="Drama" class="genreButton" name="genre" value="Drama">
        <label for="Drama">Drama</label>
    <input type="checkbox" id="Fantasy" class="genreButton" name="genre" value="Fantasy">
        <label for="Fantasy">Fantasy</label>
    <input type="checkbox" id="Gourmet" class="genreButton" name="genre" value="Gourmet ">
        <label for="Gourmet">Gourmet</label>
    <input type="checkbox" id="Horror" class="genreButton" name="genre" value="Horror">
        <label for="Horror">Horror</label>
    <input type="checkbox" id="Mystery" class="genreButton" name="genre" value="Mystery">
        <label for="Mystery">Mystery</label>
    <input type="checkbox" id="Romance" class="genreButton" name="genre" value="Romance">
        <label for="Romance">Romance</label>
    <input type="checkbox" id="Sci-fi" class="genreButton" name="genre" value="Sci-fi">
        <label for="Sci-fi">Sci-fi</label>
    <input type="checkbox" id="Slice of Life" class="genreButton" name="genre" value="Slice of Life">
        <label for="Slice of Life">Slice of Life</label>
    <input type="checkbox" id="Sport" class="genreButton" name="genre" value="Sport">
        <label for="Sport">Sport</label>
    <input type="checkbox" id="Supernatural" class="genreButton" name="genre" value="Supernatural">
        <label for="Supernatural">Supernatural</label>
    <input type="checkbox" id="Suspense" class="genreButton" name="genre" value="Suspense">
        <label for="Suspense">Suspense</label>
</div>

<div class="theme-wrapper">
    <legend>Themes </legend>
    <input type="checkbox" name="theme" value="Adult Cast"><label>Adult Cast</label>
    <input type="checkbox" name="theme" value="CGDCT"><label>CGDCT</label>
    <input type="checkbox" name="theme" value="Childcare"><label>Childcare</label>
    <input type="checkbox" name="theme" value="Detective"><label>Detective</label>
    <input type="checkbox" name="theme" value="Gore"><label>Gore</label>
    <input type="checkbox" name="theme" value="High Stakes Game"><label>High Stakes Game</label>
    <input type="checkbox" name="theme" value="Historical"><label>Historical</label>
    <input type="checkbox" name="theme" value="Isekai"><label>Isekai</label>
    <input type="checkbox" name="theme" value="Iyashikei"><label>Iyashikei</label>
    <input type="checkbox" name="theme" value="Love Polygon"><label>Love Polygon</label>
    <input type="checkbox" name="theme" value="Martial Arts"><label>Martial Arts</label>
    <input type="checkbox" name="theme" value="Mecha"><label>Mecha</label>
    <input type="checkbox" name="theme" value="Military"><label>Military</label>
    <input type="checkbox" name="theme" value="Music"><label>Music</label>
    <input type="checkbox" name="theme" value="Mythology"><label>Mythology</label>
    <input type="checkbox" name="theme" value="Organized Crime"><label>Organized Crime</label>
    <input type="checkbox" name="theme" value="Otaku Culture"><label>Otaku Culture</label>
    <input type="checkbox" name="theme" value="Psychological "><label>Psychological </label>
    <input type="checkbox" name="theme" value="Reincarnation"><label>Reincarnation</label>
    <input type="checkbox" name="theme" value="Romantic Subtext"><label>Romantic Subtext</label>
    <input type="checkbox" name="theme" value="Samurai"><label>Samurai</label>
    <input type="checkbox" name="theme" value="School"><label>School</label>
    <input type="checkbox" name="theme" value="Space"><label>Space</label>
    <input type="checkbox" name="theme" value="Strategy Game"><label>Strategy Game</label>
    <input type="checkbox" name="theme" value="Super Power"><label>Super Power</label>
    <input type="checkbox" name="theme" value="Survival"><label>Survival</label>
    <input type="checkbox" name="theme" value="Team Sports"><label>Team Sports</label>
    <input type="checkbox" name="theme" value="Time Travel"><label>Time Travel</label>
    <input type="checkbox" name="theme" value="Vampire"><label>Vampire</label>
    <input type="checkbox" name="theme" value="Video Game"><label>Video Game</label>
    <input type="checkbox" name="theme" value="Visual Arts"><label>Visual Arts</label>
    <input type="checkbox" name="theme" value="Workplace"><label>Workplace</label>
</div>