html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #DDD5F3; /* Will change*/
}

*{
  margin: 0;
  padding: 0;
 }