*,
 ::after,
 ::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 400;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
}

.header-nav li a {
    text-decoration: none;
    padding: 1rem;
}

.header-title {
    text-decoration: none;
}

#myAnimeLib {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* #myAnimeLib .myAnimeLib-container {
    flex-grow: 1;
    margin-top: 10px;
    padding-top: 7em;
} */

.content-container {
    max-width: 1160px;
    /* width: 100%; */
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.main-content-wrapper {
    margin-left: -10px;
    margin-right: -10px;
}


/*anime showcase */

.anime-list-container {
    display: flex;
    /* margin: 0 -10px; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


/* .anime-list-container .anime-block {
    width: 20%;
} */

.anime-block {
    display: block;
    margin: 0 0 20px;
    width: 385px;
    height: 370px;
    border: #5e5b5b 1px solid;
}

.anime-list-container::after {
    display: block;
    clear: both;
    content: "";
}

.anime-info-preview {
    float: right;
    position: relative;
    padding-right: 15px;
    width: calc(100% - 155px);
}

.anime-image {
    width: 150px;
    height: 260px;
}

.anime-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.anime-title-text {
    margin: 0 0 10px;
}


/* Search Bar Section CSS */

.search-content-wrapper {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-content-wrapper .inputText {
    border: #c3c3c3 1px solid;
    border-radius: 30px !important;
    color: #323232;
    display: block;
    float: left;
    font-size: 14px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    width: 715px;
}

.search-content-wrapper .submitButton {
    cursor: pointer;
    background-color: #f8f8f8;
    border: #c3c3c3 1px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

.search-content-wrapper::after {
    display: block;
    clear: both;
    content: "";
}


/* Filter Section CSS */

legend {
    margin-bottom: 0.5rem!important;
    font-weight: 800;
}

.filter-form-container {
    margin-bottom: 3rem!important;
}

.filterButton {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
    border: none!important;
    box-shadow: none!important;
    line-height: 1.5;
}

.filterButton:hover {
    background-color: #d0d0d0;
    transition: 0.5s;
}

input[type=radio],
input[type=checkbox] {
    display: none;
    margin: 10px;
}

input[type=radio]+label,
input[type=checkbox]+label {
    display: block;
    float: left;
    margin: 0 8px 8px 0;
    padding: 0 0.75rem;
    background-color: #eee;
    border-color: #ddd;
    cursor: pointer;
    border-radius: 0.25rem;
    line-height: 2.0rem;
}

input[type=radio]:checked+label,
input[type=checkbox]:checked+label {
    background-image: none;
    background-color: #d0d0d0;
}

.genre-wrapper::after,
.theme-wrapper::after,
.type-wrapper::after {
    display: block;
    clear: both;
    content: "";
    padding-bottom: 1rem!important;
}