<div>
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= anime.title %>">
    </div>
        <%- include('../partials/genre_theme.ejs') %>
    <div>
        <label>Cover</label>
        <input type="file" name="cover" class="filepond">
    </div>
</div>